body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.jobs, .employers {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job, .employer {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.job h3, .employer h3 {
    font-size: 20px;
    margin: 0;
}

.job p, .employer p {
    margin: 5px 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.job-seekers {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-seeker {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.job-seeker h2 {
    font-size: 20px;
    margin: 0;
}

.job-seeker p {
    margin: 5px 0;
}

