body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-list {
    list-style: none;
    padding: 0;
}

.job-list li {
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px 0;
}
